.filter-button {
    background-color: white;
    color: #000;
    border: 2px solid #A3084C;
    border-radius: 50px; /* Muy redondeado para que parezca un óvalo */
    padding: 10px 20px; /* Tamaño del botón */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Suaviza la transición */
  }
  
  .filter-button.selected {
    background-color: #A3084C;
    color: white;
  }
  
  .filter-button:hover {
    opacity: 0.9; /* Efecto al pasar el mouse */
  }
  